* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fdffcd;
}

.heading-container {
    display: flex;
    align-items: center;
    gap: 0.6px; 
}

h2 {
    margin: 0;
}

#theme-icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 1s ease, opacity 1s ease-in;
}


.dark-mode #theme-icon {
    transform: rotate(360deg);
    opacity: 0.8;
}

.dark-mode {
    background-color: rgb(5, 5, 49); /* Dark background color */
    color: #dbd8e3; /* Light text color */
}

.dark-mode .container {
    background-color: #1e1e1e; /* Dark container background */
    color: #dbd8e3; /* Light text color */
    border-color: #8594e4; /* Dark border color */
}

.dark-mode input, .dark-mode .select-container {
    background-color: #1e1e1e; /* Dark input and dropdown background */
    color: #dbd8e3; /* Light text color */
    border-color: #333; /* Dark border color */
}

#theme-icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 1s ease, opacity 1s ease-in;
    content: "sun"; /* Sun icon */
}

.dark-mode #theme-icon {
    transform: rotate(360deg);
    opacity: 0.8;
    content: "moon"; /* Moon icon */
}

.container {
    background-color: #e0ffcd;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select , button , input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem ;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem ;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-containerc select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: #ffcab0;
    font-size: 1.15rem;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .container {
        width: 50vh;
        min-height: 50vh;
    }

    form input {
        font-size: 1.1rem;
        height: 3.5rem;
    }

    form button {
        font-size: 1.25rem;
        height: 3.5rem;
    }

    .dropdown i {
        font-size: 2rem;
    }

    .select-container img {
        max-width: 2.5rem;
    }
}